/* all site settings*/
body {
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 0.8px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}



/* Lineup of Wrappers */
.wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.wrapperM {
  padding-top: 6rem;
}
.wrapperL {
  padding-top: 9rem;
}



/* typography */

.lineHeight {
  line-height: 1.5;
}
.linkTextDeco {
  color:white;
  cursor: pointer;
}
.linkTextDeco:hover {
  color:#d3d3d3;
  cursor: pointer;
}
.linkTextDecoDark {
  color:black;
  cursor: pointer;
}
.linkTextDecoDark:hover {
  color:#6e6e6e;
  cursor: pointer;
}



/* layout */
.overlay {
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
  bottom: 0;
}



/* responsive */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 460px) {

}
@media (max-width: 640px) {

}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* EFFECTS */
/* hover effect */
.hoverLarge {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hoverLarge:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
