body {
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  letter-spacing: 0.8px;

}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}


/* typography */
.notoSerif {
font-family: 'Noto Serif TC', serif !important;
font-weight: 600;
}
.lineHeight {
  line-height: 1.6;
}
.fontTitle {
  font-size: 18vw;
  font-weight: 100;
  line-height:1;
}
.fontDate {
  font-size: 4em;
  font-weight: 100;
  line-height:1;
}
.fontTime {
  font-size: 3em;
  font-weight: 100;
  line-height:1;
}
.fontID {
  font-size: 2em;
  font-weight: 100;
  line-height:1;
}
.linkTextDecoDark {
  color:black;
  text-decoration: none;
  cursor: pointer;
}
.linkTextDecoDark:hover {
  color:#8e8e8e;
  text-decoration: underline;
  cursor: pointer;
}


/* Lineup of Wrappers */
.wrapper {
  padding-top: 3em;
}
.wrapperM {
  padding-top: 4em;
}
.wrapperL {
  padding-top: 5em;
}
.wrapperFrame {
  padding-top: 7em;
}
.wrapperXL{
  padding-top: 8em;
  padding-bottom: 5em;
}
.wrapperCarousel{
  padding-top: 5em;
  padding-bottom: 8em;
}



/* background and deco */
.bgOrg {
  background-color: #c0684f;
}
.bgGrn {
  background-color: #50725c;
}
.bgBlu {
  background-color: #485f68;
}
.round {
  border-radius: 150px;
  padding-top: 4em;
  padding-bottom: 3em;
}

/* EFFECTS */
.flip {
    position: relative;
    display: inline-block;
}
.flip .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.flip:hover .img-top {
    display: inline;
}

/* hover effect */
.hoverLarge {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hoverLarge:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
